body{
	margin: 0;
	padding: 0;
	background-color: #fafafa;
	font-family: 'myriad-pro',
				'Helvetica Neue',
				Helvetica,
				Arial,
				sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #3e3e3e;
}
/* typographies */
a{
	text-decoration: none;
}
p a,
li a,
blockquote a{
	color: #175DEE;
	border-bottom: 1px dotted #cececc;
}

p a:hover,
li a:hover,
blockquote a:hover{
	color: #005FFF;
}
p,
li,
blockquote{
	color: #4e4e4e;
	line-height: 1.5em;
	margin-bottom: 0.75em;
}
tt.docutils.literal{
	font-family: 'droid-sans-mono';
	font-size: 0.8em;
	padding: 0.2em 0.5em;
	border-radius: 2px;
	border: 1px solid rgba(20,20,20, 0.1);
	background-color: #F0ECDF;
}
img{
	border-radius: 2px;
	border: 1px solid rgba(20,20,20, 0.1);
	width 98%;
	max-width: 98%;
}

/* headers */
h1, h2, h3, h4, h5, h6{
	font-family: 'myriad-pro';
	font-weight: 700;
	color: #2e2e2e;
	margin: 1.25em 0 1.25em 0;
}
h1{
	font-size: 3em;
	line-height: 1.25em;
	color: #3e3e3e;
	margin: 0;
}
h2{
	font-size: 2em;
}
a.headerlink{
	visibility: hidden;
	color: #999;
	font-size: 0.6em;
	padding: 0 0.2em;
	line-height: 0.8em;
}
h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink{
	visibility: visible;
}
/* navigation */
header.primary{
	padding: 1em;
	background-color: #3e3e3e;
	color: #fff;
	font-family: 'myriad-pro';
	font-weight: 800;
	height: 3em;
}
header.primary img{
	display: inline-block;
	max-width: 4em;
	max-height: 100%;
	margin-right: 2em;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
}
	header.primary nav {
		margin: 0;
		padding: 0;
		vertical-align: top;
		display: inline-block;
	}
	header.primary a{
		display: inline-block;
		color: #fff;
		line-height: 2.5em;
		font-size: 0.8em;
		font-weight: 400;
		padding: 0.5em 1em;
		text-transform: uppercase;
		-webkit-transition: 0.2s;
		-moz-transition: 0.2s;
		-ms-transition: 0.2s;
		-o-transition: 0.2s;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
	}
	header.primary a:hover{
			color: #ddd;
			background-color: rgba(0,0,0, 0.9);
	}
	/* articles */

	/* sidebars */
div.sidebar{
	background-color: #3e3e3e;
	padding: 1%;
	color: #fff;
}
	div.sidebar a{
		color: #FFCE00;
	}
	div.sidebar img{
		max-width: 100%;
		display: none;
	}
	div.sidebar p{
		text-align: center;
		margin: 0;
	}
	div.sidebar h3 a{
		color: #8e8e8e;
	}
	div.sidebar p.intro{
		text-shadow: 1px 1px 1px #000;
		color: #bbb;
		font-weight: 700;
	}
	div.sidebar img{
		border: 0 none;
	}
/* nav - next previous */
nav.next_prev{
	background-color: #3e3e3e;
}
	nav.next_prev div{
		width: 49%;
		margin: 0;
		padding: 0;
		display: inline-block;
	}
		nav.next_prev div a{
			display: block;
			padding: 1em;
			color: #8e8e8e;
			font-weight: 800;
			font-size: 0.8em;
			text-transform: uppercase;
		}
		nav.next_prev div a:hover{
			color: #fff;
		}
		nav.next_prev div a span{
			font-weight: 200;
		}
		nav.next_prev div a:hover span{
			color: #8e8e8e;
		}
	nav.next_prev div.next{
		text-align: right;
	}
/* nav - toc sidebar*/
nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}
	/* all */
	nav ul li a:hover{
		color: #fff;
		border-bottom: 1px dotted #4e4e4e;
	}
	nav ul li a{
		border-bottom: 1px dotted #4e4e4e;
		display: block;
		color: #f0ecdf;
		-webkit-transition: 0.2s;
		-moz-transition: 0.2s;
		-ms-transition: 0.2s;
		-o-transition: 0.2s;
	}
	/* first level */

	/* second level */
	nav ul ul a{
		padding-left: 0.5em;
		font-size: 0.9em;
		font-weight: 500;
		background-color: transparent;
	}
	/* 3rd level */
	nav ul ul ul a{
		font-size: 0.7em;
		padding-left: 1em;
	}
/* code highlighting */
	
div.highlight{
	border: 1px solid rgba(20,20,20, 0.1);
	padding: 1%;
	background-color: #F0ECDF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	word-wrap: break-word  !important;
}
div.highlight pre{
	font-family: 'droid-sans-mono';
	font-size: 0.9em;
	white-space: pre-wrap;
	margin: 0;
	color: #676560;
}
/* main article */
article{
	padding: 1em;
}
/* footer */
footer.primary{
	background-color: #3e3e3e;
	padding: 0.5em;
	color: #999;
	font-size: 0.75em;
	text-shadow: 1px 1px 1px #000;
	margin-bottom: 0;
}
footer.primary nav {
	width: 25%;
}
footer.primary a{
	color: #fff;
}
/* notes */

div.note{
	margin-top: 1em;
	padding: 0.5em 1em;
	border: 1px solid #C0D1C7;
	background-color: #D7ECDB;
	border-radius: 3px;
}
	div.note p{
		margin: 0;
	}
	div.note p.admonition-title{
		font-weight: 900;
		color: #7E8A80;
		width: 4em;
	}
